[submodule "RuntimePDF"]
	path = RuntimePDF
	url = https://github.com/DeveloperErenLiu/RuntimePDF.git
[submodule "Aspects"]
	path = Aspects
	url = https://github.com/steipete/Aspects.git
[submodule "JSPatch"]
	path = JSPatch
	url = https://github.com/bang590/JSPatch.git
[submodule "dyld"]
	path = dyld
	url = https://github.com/opensource-apple/dyld.git
[submodule "ReadyForBAT"]
	path = ReadyForBAT
	url = https://github.com/MisterBooo/ReadyForBAT.git
