[submodule "RuntimePDF"]
	path = RuntimePDF
	url = https://github.com/DeveloperErenLiu/RuntimePDF.git
[submodule "Aspects"]
	path = Aspects
	url = https://github.com/steipete/Aspects.git
[submodule "JSPatch"]
	path = JSPatch
	url = https://github.com/bang590/JSPatch.git
